<header class="p-3 mb-3 border-bottom">
  <div class="container-1">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        style="margin-right: 1.5rem"
        class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
      >
        <img src="../../assets/logo_switch.svg" width="48" height="38" alt="Switch"/>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a
            [routerLink]="['/home']"
            routerLinkActive="router-link-active"
            class="nav-link px-2 link-secondary"
          >Home</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/demo']"
            routerLinkActive="router-link-active"
            class="nav-link px-2 link-dark"
          >Demo</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/chatbot']"
            routerLinkActive="router-link-active"
            class="nav-link px-2 link-secondary"
          >Chat with Mr.Bot Demo</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="b-example-divider"></div>
