<div class="container my-5">
  <h2>Ask anything to ChatGPT</h2>
  <div>
    <p>This is a demo app to see how powerful ChatGPT answers your questions</p>
  </div>
  <hr/>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <h3>Request prompt for ChatGPT AI</h3>
        <hr/>
        <textarea
          rows="10"
          placeholder="Enter your prompt here"
          class="form-control"
          cols="6"
          [(ngModel)]="promptText"
        ></textarea>
      </div>
      <div>
        <br/>
        <button
          style="margin-right: 2rem"
          class="btn btn-primary"
          (click)="invokeGPT(true)"
          [disabled]="showSpinner"
        >
          Generate text
          <i class="fa-solid fa-file-lines"></i>
        </button>
        <button class="btn btn-primary" (click)="invokeGPT(false)" [disabled]="showSpinner">
          Generate image
          <i class="fa-solid fa-image"></i>
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Response from ChatGPT AI</h3>
      <hr/>
      <div *ngIf="showSpinner">
        <h4>Processing, please wait...</h4>
        <div class="d-flex justify-content-center mt-5">
          <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <ng-container *ngIf="imageUrl; else showText">
        <img [src]="imageUrl" alt=""/>
      </ng-container>
      <ng-template #showText>
        <div *ngFor="let choice of choices">
          <ul class="list-group list-group-flush" *ngFor="let data of getText(choice.message)">
            <li class="list-group-item">{{ data }}</li>
            <br/>
          </ul>
        </div>
      </ng-template>
    </div>
  </div>
  <br/>

  <div *ngIf="textMode">
    <h4>
      Consumed tokens:
      <span> {{ total_tokens }} </span>
    </h4>
    <h4>
      Model used:
      <span> {{ modelUsed }} </span>
    </h4>
  </div>
</div>
