.title-heading {
  color: teal;
}

.title-sub-heading {
  color: #e96d2f;
}

.has-error {
  border-color: #ff0000;
  border-style: solid;
}

.cursor {
  cursor: pointer;
}

.center {
  text-align: center;
}

.b-example-divider {
  height: 1rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
